/HTML5CSS3StarterEducTask/HTML5CSS3Starter/.vs 
/HTML5CSS3StarterEducTask/HTML5CSS3Starter/packages
/HTML5CSS3StarterEducTask/HTML5CSS3Starter/Lesson01/bin 
/HTML5CSS3StarterEducTask/HTML5CSS3Starter/Lesson01/obj
/HTML5CSS3StarterEducTask/HTML5CSS3Starter/Lesson02/bin 
/HTML5CSS3StarterEducTask/HTML5CSS3Starter/Lesson02/obj
/HTML5CSS3StarterEducTask/HTML5CSS3Starter/Lesson03/bin 
/HTML5CSS3StarterEducTask/HTML5CSS3Starter/Lesson03/obj
/HTML5CSS3StarterEducTask/HTML5CSS3Starter/Lesson04/bin 
/HTML5CSS3StarterEducTask/HTML5CSS3Starter/Lesson04/obj
/HTML5CSS3StarterEducTask/HTML5CSS3Starter/Lesson05/bin 
/HTML5CSS3StarterEducTask/HTML5CSS3Starter/Lesson05/obj
/HTML5CSS3StarterEducTask/HTML5CSS3Starter/Lesson06/bin 
/HTML5CSS3StarterEducTask/HTML5CSS3Starter/Lesson06/obj
/HTML5CSS3StarterEducTask/HTML5CSS3Starter/Lesson07/bin 
/HTML5CSS3StarterEducTask/HTML5CSS3Starter/Lesson07/obj
/HTML5CSS3StarterEducTask/HTML5CSS3Starter/SimpleSite/bin 
/HTML5CSS3StarterEducTask/HTML5CSS3Starter/SimpleSite/obj